@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

:root {

    /* Fonte */
    --fonte-principal : 'Poppins', sans-serif;

    /*Colors  */
    --cor-1: hsl(0, 0%, 5%);
    --cor-2: hsl(0, 0%, 15%);
    --cor-3: hsl(0, 0%, 45%);
    --cor-4: hsl(0, 0%, 99%);

    /* Alturas */

    --header-height: 3.5rem

}

body {
    background-color: var(--cor-4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

strong {
    padding-left: 2px;

}

img {
    display: block; /* Gera uma caixa de elemento de bloco, gerando quebras de linhas antes e depois de um elemento quando no fluxo normal*/
    max-width: 100%; /* A sua largura máxima é de 100%. Evitando que ultrapasse o valor máximo da width*/
    height: auto;
}

.container {
    max-width: 1123px;
    margin-inline: 1.5rem;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FF0028;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}



.nav__logo img {
    width: 3.5rem;
}

.nav__close,
.nav__toggle{
    display: flex;
    color: #3d3d3d;
    font-size: 1.22rem;
    cursor: pointer;
    font-weight: bolder;
}

/* Responsive for mobile devices */

@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #f50529;
        box-shadow: 0px 0px 32px hsla(0, 0%, 0%,.2);
        height: 47%;
        width: 50%;
        transition: right .8s;
        border-radius: 0px 0px 0px 17px;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 3rem 2rem;
}

.nav__itens__links {
    color: rgb(241, 241, 241);
    font-size: 1rem;
    font-weight: 500;
}

.nav__itens__links:hover{
    color: black;
    font-weight: 700;
    text-decoration: underline;
}

.nav__close {
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
}

.show-menu{
    right: 0;
}

.home__container {
    position: relative;
    display: grid;
    row-gap: 2rem;
    padding-block: 14rem 4rem;
}

.home__data {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home__title {
    display: flex;
    justify-content: center;
    color: #FF0028;
    font-size: 1.5rem;
    font-weight: 900;
}

.home__description {
    display: flex;
    justify-content: center;
    font-size: .7rem;
    padding-bottom: 2rem;
    color: #535353;
}

.home__button {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding: .6rem;
    background-color: #f50529;
    box-shadow: -3px 12px 29px hsla(0, 0%, 0%, .1);
    border-radius: 1rem;
    
}

.home__button_description{
    color:  white;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    color: #c4c4c4;
    font-size: .7rem;
}
